/** @format */
div ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: #f3f6fb;
  color: black;
}
div li:hover {
  color: red;
  transition: ease-in-out 3ms;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
  overflow: hidden;
}
a:visited {
  color: red;
}
.int {
  background-color: rgb(212, 234, 242);
  height: 730px;
  font-weight: bolder;
  align-items: center;
}
#s1 {
  margin: 0%;
  padding: 150px;
  text-align: left;
  font-family: serif;
  font-size: xxx-large;
}
#im1 {
  float: right;
  padding: 80px;
}
b0dy {
  max-width: 100%;
  max-height: 100%;
}
#star:hover {
  cursor: pointer;
  color: gold;
  transition: 2ms ease;
}
button:hover {
  cursor: pointer;
}
