/** @format */
div ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: #f3f6fb;
  color: black;
}
div li:hover {
  color: red;
  transition: ease-in-out 3ms;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
  overflow: hidden;
}
a:visited {
  color: red;
}
.int {
  height: 730px;
  font-weight: bolder;
  align-items: center;
}
#s1 {
  margin: 10px;
  padding-left: 100px;
  text-align: left;
  font-family: serif;
  font-size: xxx-large;
}
#im1 {
  float: right;
  padding: 80px;
}
body {
  max-width: 100%;
  max-height: 100%;
}
#star:hover {
  cursor: pointer;
  color: gold;
  transition: 2ms ease;
}
button:hover {
  cursor: pointer;
}
.box {
  border: 3px solid black;
  width: 250px;
  height: 0%;
  padding: 10px;
  margin: 20px;
  text-align-last: center;
  border-radius: 20px;
  background-color: rgba(174, 173, 173, 0.904);
}
.card {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
label {
  background-color: black;
  color: white;
  padding: 5px;
}
.hrs {
  background-color: yellow;
  border: 2px solid;
  border-radius: 45px;
  padding: 5px;
  margin-left: 10px;
}
h5 {
  justify-content: space-between;
  float: left;
  font-size: large;
}
.bts {
  background-color: black;
  color: white;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 50px 50px;
}
.w {
  display: flex;
  background-color: br;
}
.box1 {
  width: 250px;
  border: 3px solid;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  margin: 20px;
}
.card1 :hover {
  background-color: darkgoldenrod;
  transition: 3ms ease;
  cursor: pointer;
}
.hrs1 {
  background-color: yellow;
  border: 1px solid;
  border-radius: 45px;
  text-transform: uppercase;
  padding: 5px;
  margin-left: 50px;
}
.nam {
  font-size: larger;
  font-weight: bold;
}
.dlr {
  font-weight: bolder;
  word-spacing: 2px;
}
s {
  font-weight: lighter;
}
.of {
  color: green;
}
.bt1 {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 45px;
  margin-left: 10px;
  width: 90%;
}
.card1 {
  display: flex;
  justify-content: space-between;
}
