/** @format */
main {
  display: flex;
  color: whitesmoke;
  margin-bottom: 0px;
  text-wrap: pretty;
}
.sgin {
  text-align: center;
  border: 3px solid white;
  margin-left: 35rem;
  margin-top: 10rem;
  padding: 100px;
  background-color: aqua;
  border-radius: 25px;
  border-color: gold;
  cursor: pointer;
}
button {
  color: white;
  background-color: blue;
  border-radius: 20px 30px;
  text-decoration: none;
  text-shadow: 2px;
}
h4 {
  color: black;
}
p {
  color: black;
}
